<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
				<Configuration>
					<CodeCoverage>
						<Exclude>
							<Attributes>
								<Attribute>^System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute$</Attribute>
								<Attribute>^System.Runtime.CompilerServices.CompilerGeneratedAttribute$</Attribute>
								<Attribute>^System.CodeDom.Compiler.GeneratedCodeAttribute$</Attribute>
							</Attributes>

							<Functions>
								<Function>^Microsoft.AspNetCore.OpenApi.*</Function>
								<Function>^*.Migrations.*</Function>
								<Function>^System.Runtime.CompilerServices.*</Function>
							</Functions>

							<ModulePaths>
								<Exclude>
									<ModulePath>.*test.*</ModulePath>
									<ModulePath>.*Test.*</ModulePath>
								</Exclude>
							</ModulePaths>
						</Exclude>
					</CodeCoverage>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>